body{
    background-color: #b7cfcf;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
   
}
.container{
    width: 600px;
    height: 400px;
    background-color: #75aec9;
    margin-top: 210px;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(247, 0, 0, 0.1);
    border: 4px solid black;
    box-sizing: border-box;
   
    
}
h1{
    text-align: center;
}
input{
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(247, 0, 0, 0.1);
    width: auto;
    height: 22px;

}
.fielde{
    margin-left: 15px;
}
.submit{
    position: absolute;
    margin-left: 9.5%;
    height: 38px;
    width: 200px;
}